<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta name="facebook-domain-verification" content="54mh8viife8yktsmiypa0hcx16xw4m" />

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
  
  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {% render 'css-variables' %}

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Sections ================================================== -->
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      zoomClose: {{ "products.zoom.close" | t | json }},
      zoomPrev: {{ "products.zoom.prev" | t | json }},
      zoomNext: {{ "products.zoom.next" | t | json }},
      moneyFormat: {{ shop.money_format | json }},
      addressError: {{ 'home_page.map.address_error' | t | json }},
      addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
      authError: {{ 'home_page.map.auth_error_html' | t | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartCookie: {{ 'cart.general.cookies_required' | t | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      productSlideLabel: {{ 'products.product.slide_label' | t: slide_number: '[slide_number]', slide_max: '[slide_max]' | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      gridType: {{ settings.collection_products_grid | json }}
    };
  </script>

  <script src={{ 'jquery-2.2.3.min.js' | asset_url }}defer="defer"></script>
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'jquery.flexslider-min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'jquery.flexslider.js' | asset_url }}" defer="defer"></script>
		<script type="text/javascript" defer="defer">
		$(window).on('load', function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			directionNav: true
		  });
		});
	</script>

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" defer></script>
  {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  <script src="{{ 'modernizr.min.js' | asset_url}}" defer="defer"></script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if request.page_type contains 'customers/' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <script type="application/ld+json">
    {
"@context": "https://schema.org",
"@type": "Organization",
"name": "Koena Pty Ltd",
"url": "https://www.koena.com.au",
"mainEntityOfPage": "https://www.koena.com.au",
"slogan": "Give Balance Back",
"logo": "https://cdn.shopify.com/s/files/1/0015/2843/0661/files/Koena-Logo-White-Web_x15.png?v=1533176416",
"contactPoint": {
"@type": "ContactPoint",
"telephone": "+61390149667",
"email": "contact@koena.com.au",
"contactType": "customer service",
"areaServed": "AU",
"availableLanguage": "en"
},
"address": {
"@type": "PostalAddress",
"addressCountry": "Australia",
"addressLocality": "Dandenong South",
"addressRegion": "Victoria",
"postalCode": "3175",
"streetAddress": "34 Cahill Street",
"telephone": "+61390149667",
"email": "contact@koena.com.au"
},
"sameAs": [
"https://www.instagram.com/wearekoena/",
"https://www.facebook.com/wearekoena/"
]
}</script>
<script type="application/ld+json">
    {
"@context": "http://schema.org",
"@type": "WebSite",
"url": "https://www.koena.com.au"
}
</script>


<!-- End Google Structured Data -->


<!-- ItemPage Structured Data -->
<meta itemprop="name" content="{{ page_title }}" />
<meta itemprop="description" content="{{ page_description}}" />

<!-- End ItemPage Structured Data -->

<!-- Global site tag (gtag.js) - Google Ads: 709865114 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-709865114"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-709865114');
</script>
<!-- Event snippet for Purchases conversion page -->
<script>
gtag('event', 'conversion', {
   'send_to': 'AW-709865114/s0rJCK30ydUBEJrdvtIC',
   'value': 29.95,
   'currency': 'AUD',
   'transaction_id': ''
});
</script>
<script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
<style>.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity.9s}</style>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NT2MD99');</script>
<!-- End Google Tag Manager -->  
<meta name="msvalidate.01" content="E16A06C3D3CD252E170282356070401C" />

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NT2MD99"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->  

  {% section 'header' %}

  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>

  <div id="PageContainer" class="page-container">
    <main class="main-content" role="main">
      {% unless request.page_type == "index" %}
      {% if request.page_type == "article" %}
        {% if article.image %}
          <div style="height: 390px; overflow: hidden; background-image: url({{ article.image | img_url: '1500x1500' }}); background-size: cover; background-position: center;"></div>
          <div class="wrapper artc">
        {% endif %}
        {% else %}
            {% unless template == 'page.partner-1' %}
            <div class="wrapper">  
            {% endunless %}
      {% endif %}         
      {% endunless %}
        {{ content_for_layout }}
      {% unless request.page_type == "index" %}
        </div>
      {% endunless %}
      {% if request.page_type == "article" %}
      {% if blog.comments_enabled? %}
      <div class="grid article__body comment-form-1">
        <div class="wrapper">
        <div class="grid__item large--four-fifths push--large--one-tenth">  
          {% if number_of_comments > 0 %}
            <h2 class="h3 text-left comment-form-1">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
            <hr class="hr--small hr--clear">
          {% endif %}

          {% paginate article.comments by 5 %}
            {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="comments">

              {% if comment and comment.created_at %}
                <p class="note form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              {% if number_of_comments > 0 %}
                <ul class="no-bullets">
                  {% comment %}
                    If a comment was just submitted with no blank field, show it.
                  {% endcomment %}
                  {% if comment and comment.created_at %}
                    <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                      {% include 'comment' %}
                    </li>
                  {% endif %}

                  {% comment %}
                    Showing the rest of the comments.
                  {% endcomment %}
                  {% for comment in article.comments %}
                    <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                      {% include 'comment' %}
                    </li>

                    {% unless forloop.last %}
                      <li><hr class="hr--clear"></li>
                    {% endunless %}
                  {% endfor %}
                </ul>

                {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                {% endif %}

              {% endif %}

              <h2 class="h3 text-left">{{ 'blogs.comments.title' | t }}</h2>
              <hr class="hr--small hr--clear">

              <div class="form-vertical">
                {% form 'new_comment', article %}

                  {{ form.errors | default_errors }}

                  <div class="grid grid--small cf2">
                    <div class="grid__item large--one-half">
                      <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                      <input class="input-full{% if form.errors contains 'author' %} error{% endif %}" type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
                    </div>
                    <div class="grid__item large--one-half">
                      <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                      <input class="input-full{% if form.errors contains 'email' %} error{% endif %}" type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                    </div>
                  </div>

                  <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                  <textarea class="cf2 input-full{% if form.errors contains 'body' %} error{% endif %}" name="comment[body]" id="CommentBody" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>

                  <div class="text-left cf2-1">
                      <input type="submit" class="btn cfb" value="{{ 'blogs.comments.post' | t }}">
                      {% if blog.moderated? %}
                      <p>{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}
                  </div>

                {% endform %}
              </div>
            </div>
            </div>
          </div>
        </div>
          {% endpaginate %}
        {% endif %}
        {% endif %}
    </main>

    {% section 'footer' %}

  </div>

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.initCache();
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}

  <script type="application/json" data-cart-routes>
    {
      "cartUrl": "{{ routes.cart_url }}",
      "cartAddUrl": "{{ routes.cart_add_url }}",
      "cartChangeUrl": "{{ routes.cart_change_url }}"
    }
  </script>
  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if request.page_type == 'product' or request.page_type == 'index' %}
      <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
    {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>
  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    <li id="a11y-slideshow-info">{{ 'home_page.slideshow.navigation_instructions' | t }}</li>
  </ul>
{% include 'adroll' %}
<script>
  $("document").ready(function(){
    if($(window).width()<1200) {
      $("#nav-men").hide();
    }
  });
  $(window).on("resize", function(){
    if($(window).width()<1200) {
      $("#nav-men").hide();
    }
  });
</script>
</body>
</html>
