<div id="product1">
  {%- assign product = all_products[section.settings.featured_product] -%}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  
  {%- if section.settings.featured_product2 != empty -%}
  {%- assign product2 = all_products[section.settings.featured_product2] -%}
  {%- assign current_variant = product2.selected_or_first_available_variant -%}
  {%- endif -%}
  
  {%- if section.settings.featured_product3 != empty -%}
  {%- assign product3 = all_products[section.settings.featured_product3] -%}
  {%- assign current_variant = product3.selected_or_first_available_variant -%}
  {%- endif -%}
  
  {%- if product == empty -%}
    {%- assign section_onboarding = true -%}
    {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
    {%- assign title = 'home_page.onboarding.product_title' | t -%}
    {%- assign compare_at_price = 2999 -%}
    {%- assign price = 1999 -%}
  {%- else -%}
    {%- assign section_onboarding = false -%}
    {%- assign vendor = product.vendor -%}
    {%- assign title = product.title -%}
    {%- assign compare_at_price = current_variant.compare_at_price -%}
    {%- assign price = current_variant.price -%}
  {%- endif -%}
  
  {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
  <div itemscope itemtype="http://schema.org/Product" id="FeaturedProductSection--{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="product-template"
    data-enable-history-state="false"
    data-featured-product="true"
    {% if first_3d_model %}data-has-model="true"{% endif %}>
    <div class="wrapper">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
      <div class="grid product-single-1 div-box-m">
        {% if section.settings.swap_places == true %}
  <div class="grid__item product-single__meta--wrapper medium-up--one-half large--six-twelfths div-box-1">
          {% if section.settings.show_vendor %}
            <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
          {% endif %}
  
          <h2 class="product-single__title" itemprop="name"><a class="article__heading-link" href="{{product.url}}">{{ title }}</a></h2>
          <a href="{{product.url}}#reviews">
          <div id="product-{{product.id}}" class="yotpo bottomLine"
          data-appkey="IJwaQ5pXnQdvzjYgkBcpN0wSS3PcCAoUde2twylv"
          data-domain="{{shop.permanent_domain | escape }}"
          data-product-id="{{ product.id }}"
          data-product-models="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
          data-description="{{ product.description | escape }}"
          data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div></a>
        <style>
          .yotpo.bottomLine {   
          align-items: left !important;
          display: flex !important;
          align-content: left!important;
          justify-content: left!important;
          margin-bottom: 1rem;
        } 
        </style>
        <script>
          $(this).delay(3000).queue(function(){
             $('div#product-{{product.id}} a.text-m').attr('href','{{product.url}}#reviews');
             $(this).dequeue();
          });
          </script>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% if section.settings.text != blank %}
            <div class="rte rich-text__text mob-1">
              {{ section.settings.text }}
            </div>
            {% endif %}
            <div id="section---{{section.id}}"style="padding: 20px 0;">
            <button id="unit1" class="btn-unit"><span style="color:#1272EA; font-weight:700;">UNIT PACK </span><br>{{ product.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product.compare_at_price | money }}</span></button>
            <button id="unit2" class="btn-unit-1" {%- if section.settings.featured_product2 == empty -%} style="display: none;"{% endif %}>2 Pack <br>{{ product2.price | money  }} <span style="text-decoration: line-through; font-size: 11px;"> {{ product2.compare_at_price | money }}</span></button>
            <button id="unit3" class="btn-unit-1" {%- if section.settings.featured_product3 == empty -%} style="display: none;"{% endif %}>3 Pack  <br>{{ product3.price | money  }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product3.compare_at_price | money }}</span></button>
          </div>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="mob-2">
            {% comment %}
              Optionally show the 'compare at' or original price of the product.
            {% endcomment %}
            <div class = "product-price-container" style="display: none;">
              {% include 'product-price', variant: current_variant %}
              <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}"></div>
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
              
            {% if section_onboarding %}
              <div class="product-single__add-to-cart-1 default-product">
                <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart" disabled="disabled">
                  <span class="btn__text">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </button>
              </div>
            {% else %}
              {% capture "form_classes" %}
                product-single__form{% if product.has_only_default_variant %} product-single__form--no-variants{% endif %}
              {%- endcapture %}
  
              {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
  
              {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
                {{ form | payment_terms }}
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    <div class="radio-wrapper js product-form__item">
                      <label class="single-option-radio__label{% if section.settings.show_variant_labels == false %} hidden-label{% endif %}"
                        for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                        {{ option.name | escape }}
                      </label>
                      <fieldset class="single-option-radio"
  
                        id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                        {% assign option_index = forloop.index %}
                        {% for value in option.values %}
                          {% assign variant_label_state = true %}
                          {% if product.options.size == 1 %}
                            {% unless product.variants[forloop.index0].available  %}
                              {% assign variant_label_state = false %}
                            {% endunless %}
                          {% endif %}
                          <input type="radio"
                            {% if option.selected_value == value %} checked="checked"{% endif %}
                            {% unless variant_label_state %} disabled="disabled"{% endunless %}
                            value="{{ value | escape }}"
                            data-index="option{{ option_index }}"
                            name="option{{ option.position }}"
                            class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                            id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                          <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                        {% endfor %}
                      </fieldset>
                    </div>
                  {% endfor %}
                {% endunless %}
  
                <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %}
                        selected="selected" {% endif %}
                        data-sku="{{ variant.sku }}"
                        value="{{ variant.id }}">
                        {{ variant.title }} - {{ variant.price | money }}
                      </option>
                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
  
                <div class="product-single__add-to-cart-1-1">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                    <span class="btn__text">
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                  </button>
                  {% if section.settings.enable_payment_button %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              {% endform %}
            {% endif %}
          </div>
        </div>
      <div class="grid__item large--six-twelfths medium-up--one-half text-center div-box-4">
          <a {% unless section_onboarding %} href="{{ product.url }}?variant={{ current_variant.id }}"{% endunless %}> 
          <div class="product-single__media-group-wrapper product-single__media-group-wrapper--featured" data-product-single-media-group-wrapper>
            {% unless section_onboarding %}
              {%- unless product.media.size == 0 -%}
                <div class="product-single__media-group product-single__media-group--single-xr" data-product-single-media-group>
                  {%- assign link = product.url -%}
                  {%- assign height = 442 -%}
                  {%- assign width = 442 -%}
                  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
                  {%- assign rendered_media_ids = '' -%}
  
                  {%- unless product.has_only_default_variant -%}
                    {%- for variant in product.variants -%}
                      {%- assign variant_media = variant.featured_media -%}
  
                      {%- if variant_media -%}
                        {%- if rendered_media_ids contains variant_media.id -%}
                          {%- continue -%}
                        {%- endif -%}
  
                        {%- assign featured = false -%}
                        {%- if variant_media == featured_media -%}
                          {%- assign featured = true -%}
                        {%- endif -%}
  
                        {%- assign rendered_media_ids = rendered_media_ids | append: variant_media.id | append: ' ' -%}
                        {% include 'media' with variant_media, enable_image_zoom: false, stacked: false, featured: featured, width: width, height: height %}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endunless -%}
  
                  {%- unless featured_media and rendered_media_ids contains featured_media.id -%}
                    {% include 'media' with featured_media, enable_image_zoom: false, stacked: false, featured: true, width: width, height: height %}
                  {%- endunless -%}
                </div>
                {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
                {%- if first_3d_model -%}
                  {%- include 'xr-button' with model_id: first_3d_model.id, multi: false -%}
                {%- endif -%}
              {%- endunless -%}
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endunless %}
          </div>
          </a>
        </div>
  {% else %}
  <div class="grid__item large--six-twelfths medium-up--one-half text-center">
          <a {% unless section_onboarding %} href="{{ product.url }}?variant={{ current_variant.id }}"{% endunless %}> 
          <div class="product-single__media-group-wrapper product-single__media-group-wrapper--featured" data-product-single-media-group-wrapper>
            {% unless section_onboarding %}
              {%- unless product.media.size == 0 -%}
                <div class="product-single__media-group product-single__media-group--single-xr" data-product-single-media-group>
                  {%- assign link = product.url -%}
                  {%- assign height = 442 -%}
                  {%- assign width = 442 -%}
                  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
                  {%- assign rendered_media_ids = '' -%}
  
                  {%- unless product.has_only_default_variant -%}
                    {%- for variant in product.variants -%}
                      {%- assign variant_media = variant.featured_media -%}
  
                      {%- if variant_media -%}
                        {%- if rendered_media_ids contains variant_media.id -%}
                          {%- continue -%}
                        {%- endif -%}
  
                        {%- assign featured = false -%}
                        {%- if variant_media == featured_media -%}
                          {%- assign featured = true -%}
                        {%- endif -%}
  
                        {%- assign rendered_media_ids = rendered_media_ids | append: variant_media.id | append: ' ' -%}
                        {% include 'media' with variant_media, enable_image_zoom: false, stacked: false, featured: featured, width: width, height: height %}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endunless -%}
  
                  {%- unless featured_media and rendered_media_ids contains featured_media.id -%}
                    {% include 'media' with featured_media, enable_image_zoom: false, stacked: false, featured: true, width: width, height: height %}
                  {%- endunless -%}
                </div>
                {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
                {%- if first_3d_model -%}
                  {%- include 'xr-button' with model_id: first_3d_model.id, multi: false -%}
                {%- endif -%}
              {%- endunless -%}
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endunless %}
          </div>
          </a>
        </div>
      <div class="grid__item product-single__meta--wrapper medium-up--one-half large--six-twelfths">
          {% if section.settings.show_vendor %}
            <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
          {% endif %}
  
          <h2 class="product-single__title" itemprop="name"><a class="article__heading-link" href="{{product.url}}">{{ title }}</a></h2>
          <a href="{{product.url}}#reviews">
          <div id="product-{{product.id}}" class="yotpo bottomLine"
          data-appkey="IJwaQ5pXnQdvzjYgkBcpN0wSS3PcCAoUde2twylv"
          data-domain="{{shop.permanent_domain | escape }}"
          data-product-id="{{ product.id }}"
          data-product-models="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
          data-description="{{ product.description | escape }}"
          data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div></a>
        <style>
          .yotpo.bottomLine {   
          align-items: left !important;
          display: flex !important;
          align-content: left!important;
          justify-content: left!important;
          margin-bottom: 1rem;
        } 
        </style>
        <script>
          $(this).delay(3000).queue(function(){
             $('div#product-{{product.id}} a.text-m').attr('href','{{product.url}}#reviews');
             $(this).dequeue();
          });
          </script>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% if section.settings.text != blank %}
            <div class="rte rich-text__text mob-1">
              {{ section.settings.text }}
            </div>
            <div id="section---{{section.id}}"style="padding: 20px 0;">
              <button id="unit1" class="btn-unit"><span style="color:#1272EA; font-weight:700;">UNIT PACK </span><br>{{ product.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product.compare_at_price | money }}</span></button>
              <button id="unit2" class="btn-unit-1" {%- if section.settings.featured_product2 == empty -%}style="display: none;"{% endif %}>2 Pack <br>{{ product2.price | money }} <span style="text-decoration: line-through; font-size: 11px;"> {{ product2.compare_at_price | money }}</span></button>
              <button id="unit3" class="btn-unit-1" {%- if section.settings.featured_product3 == empty -%} style="display: none;"{% endif %}>3 Pack  <br>{{ product3.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product3.compare_at_price | money }}</span></button>
            </div>
          {% endif %}
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="mob-2">
            {% comment %}
              Optionally show the 'compare at' or original price of the product.
            {% endcomment %}
            <div class = "product-price-container" style="display: none;">
            {% include 'product-price', variant: current_variant %}
            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}"></div>
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  
            {% if section_onboarding %}
              <div class="product-single__add-to-cart-1 default-product">
                <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart" disabled="disabled">
                  <span class="btn__text">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </button>
              </div>
            {% else %}
              {% capture "form_classes" %}
                product-single__form{% if product.has_only_default_variant %} product-single__form--no-variants{% endif %}
              {%- endcapture %}
  
              {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
  
              {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
                {{ form | payment_terms }}
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    <div class="radio-wrapper js product-form__item">
                      <label class="single-option-radio__label{% if section.settings.show_variant_labels == false %} hidden-label{% endif %}"
                        for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                        {{ option.name | escape }}
                      </label>
                      <fieldset class="single-option-radio"
  
                        id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                        {% assign option_index = forloop.index %}
                        {% for value in option.values %}
                          {% assign variant_label_state = true %}
                          {% if product.options.size == 1 %}
                            {% unless product.variants[forloop.index0].available  %}
                              {% assign variant_label_state = false %}
                            {% endunless %}
                          {% endif %}
                          <input type="radio"
                            {% if option.selected_value == value %} checked="checked"{% endif %}
                            {% unless variant_label_state %} disabled="disabled"{% endunless %}
                            value="{{ value | escape }}"
                            data-index="option{{ option_index }}"
                            name="option{{ option.position }}"
                            class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                            id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                          <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                        {% endfor %}
                      </fieldset>
                    </div>
                  {% endfor %}
                {% endunless %}
  
                <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %}
                        selected="selected" {% endif %}
                        data-sku="{{ variant.sku }}"
                        value="{{ variant.id }}">
                        {{ variant.title }} - {{ variant.price | money }}
                      </option>
                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
  
                <div class="product-single__add-to-cart-1">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                    <span class="btn__text">
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                  </button>
                  {% if section.settings.enable_payment_button %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              {% endform %}
            {% endif %}
          </div>
        </div>
      {% endif %}
      </div>
  
      {% if collection %}
        <hr class="hr--clear">
        <div class="text-center">
          <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
        </div>
      {% endif %}
    </div>
  </div>
  </div>
  
  <div id="product2" style="display: none;">
  
  
    {%- if product2 == empty -%}
      {%- assign section_onboarding = true -%}
      {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
      {%- assign title = 'home_page.onboarding.product_title' | t -%}
      {%- assign compare_at_price = 2999 -%}
      {%- assign price = 1999 -%}
    {%- else -%}
      {%- assign section_onboarding = false -%}
      {%- assign vendor = product2.vendor -%}
      {%- assign title = product2.title -%}
      {%- assign compare_at_price = current_variant.compare_at_price -%}
      {%- assign price = current_variant.price -%}
    {%- endif -%}
    
    {%- assign first_3d_model = product2.media | where: "media_type", "model" | first -%}
    <div itemscope itemtype="http://schema.org/Product" id="FeaturedProductSection--{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-section-type="product-template"
      data-enable-history-state="false"
      data-featured-product="true"
      {% if first_3d_model %}data-has-model="true"{% endif %}>
      <div class="wrapper">
        <meta itemprop="url" content="{{ shop.url }}{{ product2.url }}">
        <meta itemprop="image" content="{{ product2.featured_image.src | img_url: 'grande' }}">
    
        <div class="grid product-single-1 div-box-m">
          {% if section.settings.swap_places == true %}
    <div class="grid__item product-single__meta--wrapper medium-up--one-half large--six-twelfths div-box-1">
            {% if section.settings.show_vendor %}
              <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
            {% endif %}
    
            <h2 class="product-single__title" itemprop="name"><a class="article__heading-link" href="{{product2.url}}">{%- if section.settings.featured_product2 == empty -%}Koena{% endif %}{{ title }}</a></h2>
            <a href="{{product2.url}}#reviews">
            <div id="product-{{product2.id}}" class="yotpo bottomLine"
            data-appkey="IJwaQ5pXnQdvzjYgkBcpN0wSS3PcCAoUde2twylv"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product2.id }}"
            data-product-models="{{ product2.id }}"
            data-name="{{ product2.title | escape }}"
            data-url="{{ shop.url }}{{ product2.url }}"
            data-image-url="{{ product2.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product2.description | escape }}"
            data-bread-crumbs="{% for tag in product2.tags %}{{ tag | escape }};{% endfor %}">
          </div></a>
          <style>
            .yotpo.bottomLine {   
            align-items: left !important;
            display: flex !important;
            align-content: left!important;
            justify-content: left!important;
            margin-bottom: 1rem;
          } 
          </style>
          <script>
            $(this).delay(3000).queue(function(){
               $('div#product-{{product2.id}} a.text-m').attr('href','{{product2.url}}#reviews');
               $(this).dequeue();
            });
            </script>
            <span class="shopify-product-reviews-badge" data-id="{{ product2.id }}"></span>
            {% if section.settings.text2 != blank %}
              <div class="rte rich-text__text mob-1">
                {{ section.settings.text2 }}
              </div>
            {% endif %}
            <div id="section---{{section.id}}"style="padding: 20px 0;">
              <button id="unit1" class="btn-unit-1">UNIT PACK<br>{{ product.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product.compare_at_price | money }}</span></button>
              <button id="unit2" class="btn-unit" {%- if section.settings.featured_product2 == empty -%} style="display: none;"{% endif %}><span style="color:#1272EA; font-weight:700;">2 Pack </span><br>{{ product2.price | money }} <span style="text-decoration: line-through; font-size: 11px;"> {{ product2.compare_at_price | money }}</span></button>
              <button id="unit3" class="btn-unit-1" {%- if section.settings.featured_product3 == empty -%} style="display: none;"{% endif %}>3 Pack  <br>{{ product3.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product3.compare_at_price | money }}</span></button>
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="mob-2">
              {% comment %}
                Optionally show the 'compare at' or original price of the product.
              {% endcomment %}
              <div class = "product-price-container" style="display: none;">
                {% include 'product-price', variant: current_variant %}
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}"></div>
              <link itemprop="availability" href="http://schema.org/{% if product2.available %}InStock{% else %}OutOfStock{% endif %}">
    
              {% if section_onboarding %}
                <div class="product-single__add-to-cart-1 default-product">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart" disabled="disabled">
                    <span class="btn__text">
                      {{ 'products.product2.sold_out' | t }}
                    </span>
                  </button>
                </div>
              {% else %}
                {% capture "form_classes" %}
                  product-single__form{% if product2.has_only_default_variant %} product-single__form--no-variants{% endif %}
                {%- endcapture %}
    
                {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
    
                {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
                  {{ form | payment_terms }}
                  {% unless product2.has_only_default_variant %}
                    {% for option in product2.options_with_values %}
                      <div class="radio-wrapper js product-form__item">
                        <label class="single-option-radio__label{% if section.settings.show_variant_labels == false %} hidden-label{% endif %}"
                          for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {{ option.name | escape }}
                        </label>
                        <fieldset class="single-option-radio"
    
                          id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {% assign option_index = forloop.index %}
                          {% for value in option.values %}
                            {% assign variant_label_state = true %}
                            {% if product2.options.size == 1 %}
                              {% unless product2.variants[forloop.index0].available  %}
                                {% assign variant_label_state = false %}
                              {% endunless %}
                            {% endif %}
                            <input type="radio"
                              {% if option.selected_value == value %} checked="checked"{% endif %}
                              {% unless variant_label_state %} disabled="disabled"{% endunless %}
                              value="{{ value | escape }}"
                              data-index="option{{ option_index }}"
                              name="option{{ option.position }}"
                              class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                              id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                            <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                          {% endfor %}
                        </fieldset>
                      </div>
                    {% endfor %}
                  {% endunless %}
    
                  <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js">
                    {% for variant in product2.variants %}
                      {% if variant.available %}
                        <option {% if variant == product2.selected_or_first_available_variant %}
                          selected="selected" {% endif %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}">
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
    
                  <div class="product-single__add-to-cart-1">
                    <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                      <span class="btn__text">
                        {% if current_variant.available %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% else %}
                          {{ 'products.product.sold_out' | t }}
                        {% endif %}
                      </span>
                    </button>
                    {% if section.settings.enable_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                {% endform %}
              {% endif %}
            </div>
          </div>
        <div class="grid__item large--six-twelfths medium-up--one-half text-center div-box-4">
            <a {% unless section_onboarding %} href="{{ product2.url }}?variant={{ current_variant.id }}"{% endunless %}> 
            <div class="product-single__media-group-wrapper product-single__media-group-wrapper--featured" data-product-single-media-group-wrapper>
              {% unless section_onboarding %}
                {%- unless product2.media.size == 0 -%}
                  <div class="product-single__media-group product-single__media-group--single-xr" data-product-single-media-group>
                    {%- assign link = product2.url -%}
                    {%- assign height = 442 -%}
                    {%- assign width = 442 -%}
                    {%- assign featured_media = product2.selected_or_first_available_variant.featured_media | default: product2.featured_media -%}
                    {%- assign rendered_media_ids = '' -%}
    
                    {%- unless product2.has_only_default_variant -%}
                      {%- for variant in product2.variants -%}
                        {%- assign variant_media = variant.featured_media -%}
    
                        {%- if variant_media -%}
                          {%- if rendered_media_ids contains variant_media.id -%}
                            {%- continue -%}
                          {%- endif -%}
    
                          {%- assign featured = false -%}
                          {%- if variant_media == featured_media -%}
                            {%- assign featured = true -%}
                          {%- endif -%}
    
                          {%- assign rendered_media_ids = rendered_media_ids | append: variant_media.id | append: ' ' -%}
                          {% include 'media' with variant_media, enable_image_zoom: false, stacked: false, featured: featured, width: width, height: height %}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endunless -%}
    
                    {%- unless featured_media and rendered_media_ids contains featured_media.id -%}
                      {% include 'media' with featured_media, enable_image_zoom: false, stacked: false, featured: true, width: width, height: height %}
                    {%- endunless -%}
                  </div>
                  {%- assign first_3d_model = product2.media | where: "media_type", "model" | first -%}
                  {%- if first_3d_model -%}
                    {%- include 'xr-button' with model_id: first_3d_model.id, multi: false -%}
                  {%- endif -%}
                {%- endunless -%}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endunless %}
            </div>
            </a>
          </div>
    {% else %}
    <div class="grid__item large--six-twelfths medium-up--one-half text-center>
            <a {% unless section_onboarding %} href="{{ product2.url }}?variant={{ current_variant.id }}"{% endunless %}> 
            <div class="product-single__media-group-wrapper product-single__media-group-wrapper--featured" data-product-single-media-group-wrapper>
              {% unless section_onboarding %}
                {%- unless product2.media.size == 0 -%}
                  <div class="product-single__media-group product-single__media-group--single-xr" data-product-single-media-group>
                    {%- assign link = product2.url -%}
                    {%- assign height = 442 -%}
                    {%- assign width = 442 -%}
                    {%- assign featured_media = product2.selected_or_first_available_variant.featured_media | default: product2.featured_media -%}
                    {%- assign rendered_media_ids = '' -%}
    
                    {%- unless product2.has_only_default_variant -%}
                      {%- for variant in product2.variants -%}
                        {%- assign variant_media = variant.featured_media -%}
    
                        {%- if variant_media -%}
                          {%- if rendered_media_ids contains variant_media.id -%}
                            {%- continue -%}
                          {%- endif -%}
    
                          {%- assign featured = false -%}
                          {%- if variant_media == featured_media -%}
                            {%- assign featured = true -%}
                          {%- endif -%}
    
                          {%- assign rendered_media_ids = rendered_media_ids | append: variant_media.id | append: ' ' -%}
                          {% include 'media' with variant_media, enable_image_zoom: false, stacked: false, featured: featured, width: width, height: height %}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endunless -%}
    
                    {%- unless featured_media and rendered_media_ids contains featured_media.id -%}
                      {% include 'media' with featured_media, enable_image_zoom: false, stacked: false, featured: true, width: width, height: height %}
                    {%- endunless -%}
                  </div>
                  {%- assign first_3d_model = product2.media | where: "media_type", "model" | first -%}
                  {%- if first_3d_model -%}
                    {%- include 'xr-button' with model_id: first_3d_model.id, multi: false -%}
                  {%- endif -%}
                {%- endunless -%}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endunless %}
            </div>
            </a>
          </div>
        <div class="grid__item product-single__meta--wrapper medium-up--one-half large--six-twelfths">
            {% if section.settings.show_vendor %}
              <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
            {% endif %}
    
            <h2 class="product-single__title" itemprop="name"><a class="article__heading-link" href="{{product2.url}}">{{ title }}</a></h2>
            <a href="{{product2.url}}#reviews">
            <div id="product-{{product2.id}}" class="yotpo bottomLine"
            data-appkey="IJwaQ5pXnQdvzjYgkBcpN0wSS3PcCAoUde2twylv"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product2.id }}"
            data-product-models="{{ product2.id }}"
            data-name="{{ product2.title | escape }}"
            data-url="{{ shop.url }}{{ product2.url }}"
            data-image-url="{{ product2.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product2.description | escape }}"
            data-bread-crumbs="{% for tag in product2.tags %}{{ tag | escape }};{% endfor %}">
          </div></a>
          <style>
            .yotpo.bottomLine {   
            align-items: left !important;
            display: flex !important;
            align-content: left!important;
            justify-content: left!important;
            margin-bottom: 1rem;
          } 
          </style>
          <script>
            $(this).delay(3000).queue(function(){
               $('div#product-{{product2.id}} a.text-m').attr('href','{{product2.url}}#reviews');
               $(this).dequeue();
            });
            </script>
            <span class="shopify-product-reviews-badge" data-id="{{ product2.id }}"></span>
            {% if section.settings.text2 != blank %}
              <div class="rte rich-text__text mob-1">
                {{ section.settings.text2 }}
              </div>
              <div id="section---{{section.id}}"style="padding: 20px 0;">
                <button id="unit1" class="btn-unit-1">UNIT PACK<br>{{ product.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product.compare_at_price | money }}</span></button>
                <button id="unit2" class="btn-unit" {%- if section.settings.featured_product2 == empty -%} style="display: none;"{% endif %}><span style="color:#1272EA; font-weight:700;">2 Pack</span><br>{{ product2.price | money }} <span style="text-decoration: line-through; font-size: 11px;"> {{ product2.compare_at_price | money }}</span></button>
                <button id="unit3" class="btn-unit-1" {%- if section.settings.featured_product3 == empty -%} style="display: none;"{% endif %}>3 Pack  <br>{{ product3.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product3.compare_at_price | money }}</span></button>
              </div>
            {% endif %}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="mob-2">
              {% comment %}
                Optionally show the 'compare at' or original price of the product.
              {% endcomment %}
              <div class = "product-price-container" style="display: none;">
              {% include 'product-price', variant: current_variant %}
              <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}"></div>
              <link itemprop="availability" href="http://schema.org/{% if product2.available %}InStock{% else %}OutOfStock{% endif %}">
    
              {% if section_onboarding %}
                <div class="product-single__add-to-cart-1 default-product">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart" disabled="disabled">
                    <span class="btn__text">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                  </button>
                </div>
              {% else %}
                {% capture "form_classes" %}
                  product-single__form{% if product2.has_only_default_variant %} product-single__form--no-variants{% endif %}
                {%- endcapture %}
    
                {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
    
                {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
                  {{ form | payment_terms }}
                  {% unless product2.has_only_default_variant %}
                    {% for option in product2.options_with_values %}
                      <div class="radio-wrapper js product-form__item">
                        <label class="single-option-radio__label{% if section.settings.show_variant_labels == false %} hidden-label{% endif %}"
                          for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {{ option.name | escape }}
                        </label>
                        <fieldset class="single-option-radio"
    
                          id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {% assign option_index = forloop.index %}
                          {% for value in option.values %}
                            {% assign variant_label_state = true %}
                            {% if product2.options.size == 1 %}
                              {% unless product2.variants[forloop.index0].available  %}
                                {% assign variant_label_state = false %}
                              {% endunless %}
                            {% endif %}
                            <input type="radio"
                              {% if option.selected_value == value %} checked="checked"{% endif %}
                              {% unless variant_label_state %} disabled="disabled"{% endunless %}
                              value="{{ value | escape }}"
                              data-index="option{{ option_index }}"
                              name="option{{ option.position }}"
                              class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                              id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                            <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                          {% endfor %}
                        </fieldset>
                      </div>
                    {% endfor %}
                  {% endunless %}
    
                  <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js">
                    {% for variant in product2.variants %}
                      {% if variant.available %}
                        <option {% if variant == product2.selected_or_first_available_variant %}
                          selected="selected" {% endif %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}">
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
    
                  <div class="product-single__add-to-cart-1">
                    <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                      <span class="btn__text">
                        {% if current_variant.available %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% else %}
                          {{ 'products.product.sold_out' | t }}
                        {% endif %}
                      </span>
                    </button>
                    {% if section.settings.enable_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                {% endform %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        </div>
    
        {% if collection %}
          <hr class="hr--clear">
          <div class="text-center">
            <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
          </div>
        {% endif %}
      </div>
    </div>
    </div>
  <div  {% if product3.title == empty %} style="display: none;"{% endif %}>
  <div id="product3" style="display: none;">
  
  
    {%- if product3 == empty -%}
      {%- assign section_onboarding = true -%}
      {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
      {%- assign title = 'home_page.onboarding.product_title' | t -%}
      {%- assign compare_at_price = 2999 -%}
      {%- assign price = 1999 -%}
    {%- else -%}
      {%- assign section_onboarding = false -%}
      {%- assign vendor = product3.vendor -%}
      {%- assign title = product3.title -%}
      {%- assign compare_at_price = current_variant.compare_at_price -%}
      {%- assign price = current_variant.price -%}
    {%- endif -%}
    
    {%- assign first_3d_model = product3.media | where: "media_type", "model" | first -%}
    <div itemscope itemtype="http://schema.org/Product" id="FeaturedProductSection--{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-section-type="product-template"
      data-enable-history-state="false"
      data-featured-product="true"
      {% if first_3d_model %}data-has-model="true"{% endif %}>
      <div class="wrapper">
        <meta itemprop="url" content="{{ shop.url }}{{ product3.url }}">
        <meta itemprop="image" content="{{ product3.featured_image.src | img_url: 'grande' }}">
    
        <div class="grid product-single-1 div-box-m">
          {% if section.settings.swap_places == true %}
        <div class="grid__item product-single__meta--wrapper medium-up--one-half large--six-twelfths div-box-1">
            {% if section.settings.show_vendor %}
              <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
            {% endif %}
    
            <h2 class="product-single__title" itemprop="name"><a class="article__heading-link" href="{{product3.url}}">{%- if section.settings.featured_product2 == empty -%}Koena{% endif %}{{ title }}</a></h2>
            <a href="{{product3.url}}#reviews">
            <div id="product-{{product3.id}}" class="yotpo bottomLine"
            data-appkey="IJwaQ5pXnQdvzjYgkBcpN0wSS3PcCAoUde2twylv"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product3.id }}"
            data-product-models="{{ product3.id }}"
            data-name="{{ product3.title | escape }}"
            data-url="{{ shop.url }}{{ product3.url }}"
            data-image-url="{{ product3.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product3.description | escape }}"
            data-bread-crumbs="{% for tag in product3.tags %}{{ tag | escape }};{% endfor %}">
          </div></a>
          <style>
            .yotpo.bottomLine {   
            align-items: left !important;
            display: flex !important;
            align-content: left!important;
            justify-content: left!important;
            margin-bottom: 1rem;
          } 
          </style>
          <script>
            $(this).delay(3000).queue(function(){
               $('div#product-{{product3.id}} a.text-m').attr('href','{{product3.url}}#reviews');
               $(this).dequeue();
            });
            </script>
            <span class="shopify-product-reviews-badge" data-id="{{ product3.id }}"></span>
            {% if section.settings.text3 != blank %}
              <div class="rte rich-text__text mob-1">
                {{ section.settings.text3 }}
              </div>
            {% endif %}
            <div id="section---{{section.id}}"style="padding: 20px 0;">
              <button id="unit1" class="btn-unit-1">UNIT PACK<br>{{ product.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product.compare_at_price | money }}</span></button>
              <button id="unit2" class="btn-unit-1" {%- if section.settings.featured_product2 == empty -%}style="display: none;"{% endif %}>2 Pack <br>{{ product2.price | money }} <span style="text-decoration: line-through; font-size: 11px;"> {{ product2.compare_at_price | money }}</span></button>
              <button id="unit3" class="btn-unit" {%- if section.settings.featured_product3 == empty -%} style="display: none;"{% endif %}><span style="color:#1272EA; font-weight:700;">3 Pack</span>  <br>{{ product3.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product3.compare_at_price | money }}</span></button>
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="mob-2">
              {% comment %}
                Optionally show the 'compare at' or original price of the product.
              {% endcomment %}
              <div class = "product-price-container" style="display: none;">
                {% include 'product-price', variant: current_variant %}
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}"></div>
              <link itemprop="availability" href="http://schema.org/{% if product3.available %}InStock{% else %}OutOfStock{% endif %}">
    
              {% if section_onboarding %}
                <div class="product-single__add-to-cart-1 default-product">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart" disabled="disabled">
                    <span class="btn__text">
                      {{ 'products.product3.sold_out' | t }}
                    </span>
                  </button>
                </div>
              {% else %}
                {% capture "form_classes" %}
                  product-single__form{% if product3.has_only_default_variant %} product-single__form--no-variants{% endif %}
                {%- endcapture %}
    
                {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
    
                {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
                  {{ form | payment_terms }}
                  {% unless product3.has_only_default_variant %}
                    {% for option in product3.options_with_values %}
                      <div class="radio-wrapper js product-form__item">
                        <label class="single-option-radio__label{% if section.settings.show_variant_labels == false %} hidden-label{% endif %}"
                          for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {{ option.name | escape }}
                        </label>
                        <fieldset class="single-option-radio"
    
                          id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {% assign option_index = forloop.index %}
                          {% for value in option.values %}
                            {% assign variant_label_state = true %}
                            {% if product3.options.size == 1 %}
                              {% unless product3.variants[forloop.index0].available  %}
                                {% assign variant_label_state = false %}
                              {% endunless %}
                            {% endif %}
                            <input type="radio"
                              {% if option.selected_value == value %} checked="checked"{% endif %}
                              {% unless variant_label_state %} disabled="disabled"{% endunless %}
                              value="{{ value | escape }}"
                              data-index="option{{ option_index }}"
                              name="option{{ option.position }}"
                              class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                              id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                            <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                          {% endfor %}
                        </fieldset>
                      </div>
                    {% endfor %}
                  {% endunless %}
    
                  <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js">
                    {% for variant in product3.variants %}
                      {% if variant.available %}
                        <option {% if variant == product3.selected_or_first_available_variant %}
                          selected="selected" {% endif %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}">
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
    
                  <div class="product-single__add-to-cart-1">
                    <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                      <span class="btn__text">
                        {% if current_variant.available %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% else %}
                          {{ 'products.product.sold_out' | t }}
                        {% endif %}
                      </span>
                    </button>
                    {% if section.settings.enable_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                {% endform %}
              {% endif %}
            </div>
          </div>
        <div class="grid__item large--six-twelfths medium-up--one-half text-center div-box-4">
            <a {% unless section_onboarding %} href="{{ product3.url }}?variant={{ current_variant.id }}"{% endunless %}> 
            <div class="product-single__media-group-wrapper product-single__media-group-wrapper--featured" data-product-single-media-group-wrapper>
              {% unless section_onboarding %}
                {%- unless product3.media.size == 0 -%}
                  <div class="product-single__media-group product-single__media-group--single-xr" data-product-single-media-group>
                    {%- assign link = product3.url -%}
                    {%- assign height = 442 -%}
                    {%- assign width = 442 -%}
                    {%- assign featured_media = product3.selected_or_first_available_variant.featured_media | default: product3.featured_media -%}
                    {%- assign rendered_media_ids = '' -%}
    
                    {%- unless product3.has_only_default_variant -%}
                      {%- for variant in product3.variants -%}
                        {%- assign variant_media = variant.featured_media -%}
    
                        {%- if variant_media -%}
                          {%- if rendered_media_ids contains variant_media.id -%}
                            {%- continue -%}
                          {%- endif -%}
    
                          {%- assign featured = false -%}
                          {%- if variant_media == featured_media -%}
                            {%- assign featured = true -%}
                          {%- endif -%}
    
                          {%- assign rendered_media_ids = rendered_media_ids | append: variant_media.id | append: ' ' -%}
                          {% include 'media' with variant_media, enable_image_zoom: false, stacked: false, featured: featured, width: width, height: height %}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endunless -%}
    
                    {%- unless featured_media and rendered_media_ids contains featured_media.id -%}
                      {% include 'media' with featured_media, enable_image_zoom: false, stacked: false, featured: true, width: width, height: height %}
                    {%- endunless -%}
                  </div>
                  {%- assign first_3d_model = product3.media | where: "media_type", "model" | first -%}
                  {%- if first_3d_model -%}
                    {%- include 'xr-button' with model_id: first_3d_model.id, multi: false -%}
                  {%- endif -%}
                {%- endunless -%}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endunless %}
            </div>
            </a>
          </div>
    {% else %}
    <div class="grid__item large--six-twelfths medium-up--one-half text-center">
            <a {% unless section_onboarding %} href="{{ product3.url }}?variant={{ current_variant.id }}"{% endunless %}> 
            <div class="product-single__media-group-wrapper product-single__media-group-wrapper--featured" data-product-single-media-group-wrapper>
              {% unless section_onboarding %}
                {%- unless product3.media.size == 0 -%}
                  <div class="product-single__media-group product-single__media-group--single-xr" data-product-single-media-group>
                    {%- assign link = product3.url -%}
                    {%- assign height = 442 -%}
                    {%- assign width = 442 -%}
                    {%- assign featured_media = product3.selected_or_first_available_variant.featured_media | default: product3.featured_media -%}
                    {%- assign rendered_media_ids = '' -%}
    
                    {%- unless product3.has_only_default_variant -%}
                      {%- for variant in product3.variants -%}
                        {%- assign variant_media = variant.featured_media -%}
    
                        {%- if variant_media -%}
                          {%- if rendered_media_ids contains variant_media.id -%}
                            {%- continue -%}
                          {%- endif -%}
    
                          {%- assign featured = false -%}
                          {%- if variant_media == featured_media -%}
                            {%- assign featured = true -%}
                          {%- endif -%}
    
                          {%- assign rendered_media_ids = rendered_media_ids | append: variant_media.id | append: ' ' -%}
                          {% include 'media' with variant_media, enable_image_zoom: false, stacked: false, featured: featured, width: width, height: height %}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endunless -%}
    
                    {%- unless featured_media and rendered_media_ids contains featured_media.id -%}
                      {% include 'media' with featured_media, enable_image_zoom: false, stacked: false, featured: true, width: width, height: height %}
                    {%- endunless -%}
                  </div>
                  {%- assign first_3d_model = product3.media | where: "media_type", "model" | first -%}
                  {%- if first_3d_model -%}
                    {%- include 'xr-button' with model_id: first_3d_model.id, multi: false -%}
                  {%- endif -%}
                {%- endunless -%}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endunless %}
            </div>
            </a>
          </div>
        <div class="grid__item product-single__meta--wrapper medium-up--one-half large--six-twelfths">
            {% if section.settings.show_vendor %}
              <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
            {% endif %}
    
            <h2 class="product-single__title" itemprop="name"><a class="article__heading-link" href="{{product3.url}}">{{ title }}</a></h2>
            <a href="{{product3.url}}#reviews">
            <div id="product-{{product3.id}}" class="yotpo bottomLine"
            data-appkey="IJwaQ5pXnQdvzjYgkBcpN0wSS3PcCAoUde2twylv"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product3.id }}"
            data-product-models="{{ product3.id }}"
            data-name="{{ product3.title | escape }}"
            data-url="{{ shop.url }}{{ product3.url }}"
            data-image-url="{{ product3.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product3.description | escape }}"
            data-bread-crumbs="{% for tag in product3.tags %}{{ tag | escape }};{% endfor %}">
          </div></a>
          <style>
            .yotpo.bottomLine {   
            align-items: left !important;
            display: flex !important;
            align-content: left!important;
            justify-content: left!important;
            margin-bottom: 1rem;
          } 
          </style>
          <script>
            $(this).delay(3000).queue(function(){
               $('div#product-{{product3.id}} a.text-m').attr('href','{{product3.url}}#reviews');
               $(this).dequeue();
            });
            </script>
            <span class="shopify-product-reviews-badge" data-id="{{ product3.id }}"></span>
            {% if section.settings.text3 != blank %}
              <div class="rte rich-text__text mob-1">
                {{ section.settings.text3 }}
              </div>
              <div id="section---{{section.id}}"style="padding: 20px 0;">
                <button id="unit1" class="btn-unit-1">UNIT PACK<br>{{ product.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product.compare_at_price | money }}</span></button>
                <button id="unit2" class="btn-unit-1" {%- if section.settings.featured_product2 == empty -%} style="display: none;"{% endif %}>2 Pack <br>{{ product2.price | money }} <span style="text-decoration: line-through; font-size: 11px;"> {{ product2.compare_at_price | money }}</span></button>
                <button id="unit3" class="btn-unit" {%- if section.settings.featured_product3 == empty -%} style="display: none;"{% endif %}><span style="color:#1272EA; font-weight:700;">3 Pack</span><br>{{ product3.price | money }}<span style="text-decoration: line-through; font-size: 11px;"> {{ product3.compare_at_price | money }}</span></button>
              </div>
            {% endif %}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="mob-2">
              {% comment %}
                Optionally show the 'compare at' or original price of the product.
              {% endcomment %}
              <div class = "product-price-container" style="display: none;">
              {% include 'product-price', variant: current_variant %}
              <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}"></div>
              <link itemprop="availability" href="http://schema.org/{% if product3.available %}InStock{% else %}OutOfStock{% endif %}">
    
              {% if section_onboarding %}
                <div class="product-single__add-to-cart-1 default-product">
                  <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart" disabled="disabled">
                    <span class="btn__text">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                  </button>
                </div>
              {% else %}
                {% capture "form_classes" %}
                  product-single__form{% if product3.has_only_default_variant %} product-single__form--no-variants{% endif %}
                {%- endcapture %}
    
                {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}
    
                {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
                  {{ form | payment_terms }}
                  {% unless product3.has_only_default_variant %}
                    {% for option in product3.options_with_values %}
                      <div class="radio-wrapper js product-form__item">
                        <label class="single-option-radio__label{% if section.settings.show_variant_labels == false %} hidden-label{% endif %}"
                          for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {{ option.name | escape }}
                        </label>
                        <fieldset class="single-option-radio"
    
                          id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                          {% assign option_index = forloop.index %}
                          {% for value in option.values %}
                            {% assign variant_label_state = true %}
                            {% if product3.options.size == 1 %}
                              {% unless product3.variants[forloop.index0].available  %}
                                {% assign variant_label_state = false %}
                              {% endunless %}
                            {% endif %}
                            <input type="radio"
                              {% if option.selected_value == value %} checked="checked"{% endif %}
                              {% unless variant_label_state %} disabled="disabled"{% endunless %}
                              value="{{ value | escape }}"
                              data-index="option{{ option_index }}"
                              name="option{{ option.position }}"
                              class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                              id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                            <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                          {% endfor %}
                        </fieldset>
                      </div>
                    {% endfor %}
                  {% endunless %}
    
                  <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js">
                    {% for variant in product3.variants %}
                      {% if variant.available %}
                        <option {% if variant == product3.selected_or_first_available_variant %}
                          selected="selected" {% endif %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}">
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
    
                  <div class="product-single__add-to-cart-1">
                    <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                      <span class="btn__text">
                        {% if current_variant.available %}
                          {{ 'products.product.add_to_cart' | t }}
                        {% else %}
                          {{ 'products.product.sold_out' | t }}
                        {% endif %}
                      </span>
                    </button>
                    {% if section.settings.enable_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                {% endform %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        </div>
    
        {% if collection %}
          <hr class="hr--clear">
          <div class="text-center">
            <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
          </div>
        {% endif %}
      </div>
    </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $("div#section---{{section.id}} button#unit1").click(function(){
        $("div#shopify-section-{{section.id}} div#product2").css('display', 'none');
        $("div#shopify-section-{{section.id}} div#product3").css('display', 'none');
        $("div#shopify-section-{{section.id}} div#product1").css('display', 'block');
      });
      $("div#section---{{section.id}} button#unit2").click(function(){
        $("div#shopify-section-{{section.id}} div#product1").css('display', 'none');
        $("div#shopify-section-{{section.id}} div#product2").css('display', 'block');
        $("div#shopify-section-{{section.id}} div#product3").css('display', 'none');
      });
      $("div#section---{{section.id}} button#unit3").click(function(){
        $("div#shopify-section-{{section.id}} div#product1").css('display', 'none');
        $("div#shopify-section-{{section.id}} div#product2").css('display', 'none');
        $("div#shopify-section-{{section.id}} div#product3").css('display', 'block');
      });
    });
    </script>
  {% unless product.empty == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
    <script type="application/json" id="ModelJson-{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {% endunless %}
  
  {% schema %}
  {
    "name": {
      "cs": "Propagovan produkt",
      "da": "Fremhvet produkt",
      "de": "Vorgestelltes Produkt",
      "en": "Featured Products 2",
      "es": "Producto destacado",
      "fi": "Esittelyss oleva tuote",
      "fr": "Produit en vedette",
      "it": "Prodotto in primo piano",
      "ja": "",
      "ko": " ",
      "nb": "Utvalgt produkt",
      "nl": "Uitgelicht product",
      "pl": "Polecany produkt",
      "pt-BR": "Produto em destaque",
      "pt-PT": "Produto em destaque",
      "sv": "Utvald produkt",
      "th": "",
      "tr": "ne kan rn",
      "vi": "Sn phm ni bt",
      "zh-CN": "",
      "zh-TW": ""
    },
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": {
          "cs": "Produkt",
          "da": "Produkt",
          "de": "Produkt",
          "en": "Product",
          "es": "Producto",
          "fi": "Tuote",
          "fr": "Produit",
          "it": "Prodotto",
          "ja": "",
          "ko": "",
          "nb": "Produkt",
          "nl": "Product",
          "pl": "Produkt",
          "pt-BR": "Produto",
          "pt-PT": "Produto",
          "sv": "Produkt",
          "th": "",
          "tr": "rn",
          "vi": "Sn phm",
          "zh-CN": "",
          "zh-TW": ""
        }
      },
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "",
          "ko": "",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "",
          "tr": "Metin",
          "vi": "Vn bn",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": "<p>Text for unit 3</p>"
      },
      {
        "type": "product",
        "id": "featured_product2",
        "label": {
          "cs": "Produkt",
          "da": "Produkt",
          "de": "Produkt",
          "en": "Product2",
          "es": "Producto",
          "fi": "Tuote",
          "fr": "Produit",
          "it": "Prodotto",
          "ja": "",
          "ko": "",
          "nb": "Produkt",
          "nl": "Product",
          "pl": "Produkt",
          "pt-BR": "Produto",
          "pt-PT": "Produto",
          "sv": "Produkt",
          "th": "",
          "tr": "rn",
          "vi": "Sn phm",
          "zh-CN": "",
          "zh-TW": ""
        }
      },
      {
        "type": "richtext",
        "id": "text2",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "",
          "ko": "",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "",
          "tr": "Metin",
          "vi": "Vn bn",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": "<p>Text for unit 2</p>"
      },
      {
        "type": "product",
        "id": "featured_product3",
        "label": {
          "cs": "Produkt",
          "da": "Produkt",
          "de": "Produkt",
          "en": "Product3",
          "es": "Producto",
          "fi": "Tuote",
          "fr": "Produit",
          "it": "Prodotto",
          "ja": "",
          "ko": "",
          "nb": "Produkt",
          "nl": "Product",
          "pl": "Produkt",
          "pt-BR": "Produto",
          "pt-PT": "Produto",
          "sv": "Produkt",
          "th": "",
          "tr": "rn",
          "vi": "Sn phm",
          "zh-CN": "",
          "zh-TW": ""
        }
      },
      {
        "type": "richtext",
        "id": "text3",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "",
          "ko": "",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "",
          "tr": "Metin",
          "vi": "Vn bn",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": "<p>Text for unit 3</p>"
      },
      {
        "type": "checkbox",
        "id": "swap_places",
        "label": {
          "cs": "Swap positions of product image and text",
          "da": "Swap positions of product image and text",
          "de": "Swap positions of product image and text",
          "en": "Flip positions of product image and text",
          "es": "Swap positions of product image and text",
          "fi": "Swap positions of product image and text",
          "fr": "Swap positions of product image and text",
          "it": "Swap positions of product image and text",
          "ja": "Swap positions of product image and text",
          "ko": "Swap positions of product image and text",
          "nb": "Swap positions of product image and text",
          "nl": "Swap positions of product image and text",
          "pl": "Swap positions of product image and text",
          "pt-BR": "Swap positions of product image and text",
          "pt-PT": "Swap positions of product image and text",
          "sv": "Swap positions of product image and text",
          "th": "Swap positions of product image and text",
          "tr": "Swap positions of product image and text",
          "vi": "Swap positions of product image and text",
          "zh-CN":"Swap positions of product image and text",
          "zh-TW":"Swap positions of product image and text"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": {
          "cs": "Zobrazit popisky variant",
          "da": "Vis variantlabels",
          "de": "Variantenbezeichnungen anzeigen",
          "en": "Show variant labels",
          "es": "Mostrar etiquetas variantes",
          "fi": "Nyt tarravaihtoehdot",
          "fr": "Afficher les tiquettes de variantes",
          "it": "Mostra etichette varianti",
          "ja": "",
          "ko": "   ",
          "nb": "Vis variantetiketter",
          "nl": "Variantlabels weergeven",
          "pl": "Poka etykiety wariantw",
          "pt-BR": "Exibir etiquetas de variantes",
          "pt-PT": "Mostrar etiquetas de variantes",
          "sv": "Visa variantetiketter",
          "th": "",
          "tr": "Varyasyon etiketlerini gster",
          "vi": "Hin th nhn mu m",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "cs": "Zobrazit dodavatele",
          "da": "Vis leverandr",
          "de": "Anbieter anzeigen",
          "en": "Show vendor",
          "es": "Mostrar proveedor",
          "fi": "Nyt myyj",
          "fr": "Afficher le distributeur",
          "it": "Mostra fornitore",
          "ja": "",
          "ko": " ",
          "nb": "Vis leverandr",
          "nl": "Leverancier weergeven",
          "pl": "Poka dostawc",
          "pt-BR": "Exibir fabricante",
          "pt-PT": "Mostrar fornecedor",
          "sv": "Visa sljare",
          "th": "",
          "tr": "Satcy gster",
          "vi": "Hin th nh cung cp",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": {
          "cs": "Zobrazit dynamick tlatko pokladny",
          "da": "Vis dynamisk betalingsknap",
          "de": "Dynamischen Checkout-Button anzeigen",
          "en": "Show dynamic checkout button",
          "es": "Mostrar botn de pago dinmico",
          "fi": "Nyt dynaaminen kassapainike",
          "fr": "Afficher le bouton de paiement dynamique",
          "it": "Mostra pulsante di check-out dinamico",
          "ja": "",
          "ko": "   ",
          "nb": "Vis dynamisk knapp for  g til kassen",
          "nl": "Dynamische checkoutknop weergeven",
          "pl": "Poka dynamiczny przycisk realizacji zakupu",
          "pt-BR": "Exibir boto de checkout dinmico",
          "pt-PT": "Mostrar o boto dinmico de finalizao da compra",
          "sv": "Visa dynamiska utcheckningsknappar",
          "th": "",
          "tr": "Dinamik deme dmesini gster",
          "vi": "Hin th nt thanh ton nhanh",
          "zh-CN": "",
          "zh-TW": ""
        },
        "info": {
          "cs": "Kad zkaznk uvid platebn metodu, kterou ze vech metod dostupnch v obchod (napklad PayPal nebo Apple Pay) nejvce preferuje. [Dal informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgngelige i din butik, f.eks. PayPal eller Apple Pay. [F mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfgbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "es": "Cada cliente ver su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Ms informacin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fi": "Kukin asiakas nkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Listietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fr": "Chaque client verra son moyen de paiement prfr parmi ceux qui sont proposs sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "it": "Ogni cliente vedr il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ja": "PayPalApple Pay[](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ko": "  PayPal  Apple Pay         . [ ](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pl": "Kady klient zobaczy swoj preferowan metod patnoci wrd metod dostpnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz si wicej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-BR": "Cada cliente ver a forma de pagamento preferencial dele dentre as disponveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-PT": "Cada cliente ir ver o seu mtodo de pagamento preferido entre os disponveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "sv": "Varje kund kommer att se den fredragna betalningsmetoden frn de som finns tillgngliga i din butik, till exempel PayPal eller Apple Pay. [Ls mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "th": "  PayPal  Apple Pay [](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "tr": "Her mteri, maazanz sunulanlar arasndan tercih ettikleri deme yntemini grr (r. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "vi": "Mi khch hng s thy phng thc thanh ton u tin trong nhng phng thc thanh ton c h tr ti ca hng nh PayPal hoc Apple Pay. [Tm hiu thm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-CN": " PayPal  Apple Pay[](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-TW": " PayPalApple Pay [](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "cs": "Zobrazit tlatka pro sdlen na socilnch stch",
          "da": "Vis knapper til deling p sociale medier",
          "de": "Social-Sharing-Schaltflchen anzeigen",
          "en": "Show social sharing buttons",
          "es": "Mostrar botones para compartir en redes sociales",
          "fi": "Nyt sosiaalisen median jakamispainikkeet",
          "fr": "Afficher les boutons de partage social",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "ja": "",
          "ko": "   ",
          "nb": "Vis knapper for deling p sosiale medier",
          "nl": "Knoppen voor sociaal delen weergeven",
          "pl": "Poka przyciski udostpniania w mediach spoecznociowych",
          "pt-BR": "Exibir botes de compartilhamento em redes sociais",
          "pt-PT": "Mostrar botes de partilha nas redes sociais",
          "sv": "Visa knappar fr delning i sociala medier",
          "th": "",
          "tr": "Sosyal medya paylam dmelerini gster",
          "vi": "Hin th nt chia s qua mng x hi",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": true,
        "info": {
          "cs": "Upravit ty na socilnch stch v obecnm nastaven",
          "da": "Rediger SoMe-konti i Generelle indstillinger",
          "de": "Bearbeite Social-Media-Konten in den allgemeinen Einstellungen",
          "en": "Edit social accounts in General settings",
          "es": "Editar cuentas de las redes sociales en la configuracin General",
          "fi": "Muokkaa sosiaalisen median tilej kohdassa Yleiset asetukset",
          "fr": "Modifier les comptes sociaux dans les paramtres gnraux",
          "it": "Modifica gli account social nelle Impostazioni generali",
          "ja": "SNS",
          "ko": "    ",
          "nb": "Rediger sosiale kontoer i Generelle innstillinger",
          "nl": "Socialmedia-accounts in Algemene instellingen bewerken",
          "pl": "Edytuj konta spoecznociowe w ustawieniach oglnych",
          "pt-BR": "Edite as contas de redes sociais nas configuraes gerais",
          "pt-PT": "Editar as contas de redes sociais nas definies gerais",
          "sv": "Redigera sociala konton i Allmnna instllningar",
          "th": "",
          "tr": "Genel ayarlardan sosyal medya hesaplarn dzenleyin",
          "vi": "Chnh sa ti khon mng x hi trong Ci t chung",
          "zh-CN": "",
          "zh-TW": ""
        }
      },
      {
        "type": "header",
        "content": {
          "cs": "Multimdia",
          "da": "Medie",
          "de": "Medien",
          "en": "Media",
          "es": "Elementos multimedia",
          "fi": "Media",
          "fr": "Mdias",
          "it": "Contenuti multimediali",
          "ja": "",
          "ko": "",
          "nb": "Medier",
          "nl": "Media",
          "pl": "Multimedia",
          "pt-BR": "Mdia",
          "pt-PT": "Multimdia",
          "sv": "Media",
          "th": "",
          "tr": "Medya",
          "vi": "Ni dung a phng tin",
          "zh-CN": "",
          "zh-TW": ""
        },
        "info": {
          "cs": "Dal informace o [typech multimdi](https://help.shopify.com/manual/products/product-media)",
          "da": "F mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
          "de": "Mehr Informationen ber [Medientypen ](https://help.shopify.com/manual/products/product-media)",
          "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
          "es": "Ms informacin sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
          "fi": "Lue lis [mediatyypeist](https://help.shopify.com/manual/products/product-media)",
          "fr": "En savoir plus sur les [types de supports multimdia](https://help.shopify.com/manual/products/product-media)",
          "it": "Scopri di pi sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
          "ja": "[](https://help.shopify.com/manual/products/product-media) ",
          "ko": "[ ](https://help.shopify.com/manual/products/product-media)   ",
          "nb": "Lr mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
          "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
          "pl": "Dowiedz si wicej o [typach multimediw](https://help.shopify.com/manual/products/product-media)",
          "pt-BR": "Saiba mais sobre [tipos de mdia](https://help.shopify.com/manual/products/product-media)",
          "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
          "sv": "Ls mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
          "th": " [](https://help.shopify.com/manual/products/product-media)",
          "tr": "[Medya trleri](https://help.shopify.com/manual/products/product-media) hakknda daha fazla bilgi edinin",
          "vi": "Tm hiu thm v [loi phng tin](https://help.shopify.com/manual/products/product-media)",
          "zh-CN": "[](https://help.shopify.com/manual/products/product-media)",
          "zh-TW": " [](https://help.shopify.com/manual/products/product-media)"
        }
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": {
          "cs": "Povolit smyky videa",
          "da": "Aktivr looping af videoer",
          "de": "Videoschleife aktivieren",
          "en": "Enable video looping",
          "es": "Habilitar la reproduccin de video en bucle",
          "fi": "Ota kyttn videosilmukka",
          "fr": "Activer le bouclage de la vido",
          "it": "Abilita la riproduzione in loop dei video",
          "ja": "",
          "ko": "  ",
          "nb": "Aktiver lkkeavspilling av video",
          "nl": "Video-looping inschakelen",
          "pl": "Wcz zaptlanie wideo",
          "pt-BR": "Habilitar loop de vdeo",
          "pt-PT": "Ativar ciclo de vdeo",
          "sv": "Aktivera video-loopning",
          "th": "",
          "tr": "Video dngsn etkinletir",
          "vi": "Bt vng lp video",
          "zh-CN": "",
          "zh-TW": ""
        },
        "default": false
      }
    ],
    "presets": [
      {
        "name": {
          "cs": "Propagovan produkt",
          "da": "Fremhvet produkt",
          "de": "Vorgestelltes Produkt",
          "en": "Featured product",
          "es": "Producto destacado",
          "fi": "Esittelyss oleva tuote",
          "fr": "Produit en vedette",
          "it": "Prodotto in primo piano",
          "ja": "",
          "ko": " ",
          "nb": "Utvalgt produkt",
          "nl": "Uitgelicht product",
          "pl": "Polecany produkt",
          "pt-BR": "Produto em destaque",
          "pt-PT": "Produto em destaque",
          "sv": "Utvald produkt",
          "th": "",
          "tr": "ne kan rn",
          "vi": "Sn phm ni bt",
          "zh-CN": "",
          "zh-TW": ""
        },
        "category": {
          "cs": "Produkt",
          "da": "Produkt",
          "de": "Produkt",
          "en": "Product",
          "es": "Producto",
          "fi": "Tuote",
          "fr": "Produit",
          "it": "Prodotto",
          "ja": "",
          "ko": "",
          "nb": "Produkt",
          "nl": "Product",
          "pl": "Produkt",
          "pt-BR": "Produto",
          "pt-PT": "Produto",
          "sv": "Produkt",
          "th": "",
          "tr": "rn",
          "vi": "Sn phm",
          "zh-CN": "",
          "zh-TW": ""
        }
      }
    ]
  }
  {% endschema %}
  