<div class="resta">
  {% for block in section.blocks %}                        
              
    <div class="resta-tile__wrapper">
      <div class="resta-tile">
        <div class="resta-tile__heading">
          <h4 class="resta__h">{{ block.settings.tile__heading }}</h4>
        </div>
        <div class="resta-tile__info">
          <div class="resta__body">{{ block.settings.tile__description }}</div>
          <div class="resta__sub">{{ block.settings.tile__sub }}</div>
          <div class="resta__list {% if block.settings.tile__list-two != empty %} double {% endif %}">
            {% if block.settings.tile__list-two != empty %}
            <div class="resta__list-two">{{ block.settings.tile__list}}</div>
            <div class="resta__list-two">{{ block.settings.tile__list-two}}</div>
            {% else %}
            {{ block.settings.tile__list}}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  
  {% endfor %}
  </div>

{% schema %}
  {
  	"name": "Restaplex Tiles",
  	"class": "Restaplex Tiles",
  	"max_blocks": 10,
  	"blocks": [

  		{
  			"type": "tile",
  			"name": "tile",
  			"settings": [
  				{
  					"type": "text", 
  					"id": "tile__heading",
  					"label": "Heading"
  				},
  				{
  					"type": "textarea",
  					"id": "tile__description",
  					"label": "Description"
  				},
  				{
  					"type": "text",
  					"id": "tile__sub",
  					"label": "Sub Heading"
  				},
  				{
  					"type": "textarea",
  					"id": "tile__list",
  					"label": "List"
  				},
  				{
  					"type": "textarea",
  					"id": "tile__list-two",
  					"label": "List 2nd column"
  				}
  			]
  		}

  	],
  "presets": [
    {
      "name": "Restaplex Tiles",
      "category": "Restaplex Tiles"
    }
  ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
